.link {
  width: 600px;
  margin: 0 auto;
}

.link-form {
  background-color: #ededed;
  padding: 50px;
  border-radius: 3px;
  input {
    margin: 0 auto;
    font-size: 16px;
    height: 35px;
    padding: 8px;
  }
  input[type="text"] {
    display: block;
    width: 480px;
    border-radius: 3px;
    border: none;
  }
  input[type="submit"] {
    background-color: #ffc107;
    border: none;
    border-radius: 3px;
    color: #444444;
    display: block;
    font-weight: 400;
    height: 50px;
    margin-top: 10px;
    width: 300px;
  }
  input[type="submit"]:hover {
    background-color: #ff9800;
  }
  h4 {
    margin-top: 5px;
  }
}

.short-link {
  border-radius: 3px;
  height: 35px;
  padding: 10px;
  margin-top: 10px;
  line-height: 35px;
}

.new {
  background-color: #66d1c1;
}
.previous {
  background-color: #C7BAA7;
}

button.copy {
  background-color: white;
  border: none;
  border-radius: 2px;
  color: #444444;
  cursor: pointer;
  font-weight: 500;
  height: 20px;
  margin-left: 10px;
  vertical-align: text-top;
}
