body {
  color: #444444;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: #6599FF;
}
.content {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.error {
  color: #ff5050;
  margin: 10px 0px 10px 5px;
}
